<div class="error">
    <div class="supportive-text">404 Error</div>
    <h1 class="page-header">page not found</h1>
    <p class="sub-heading">sorry, the page you are looking for doesn't exist.</p>
    <div class="btn-group">
        <button class="lg-secondary-btn">
            <div class="icon">
                <div class="back-icon"></div>
            </div>
            go back
        </button>
        <button class="lg-primary-btn">take me home</button>
    </div>
    <ul class="resources">
        
    </ul>
</div>
